.rehabilitation {
  position: relative; 
  overflow: hidden; 
  &__block-text {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 84px 0 136px 0;
    margin-bottom: 50px;
  }
  
  &__container {
    max-width: 1180px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  
  &__image {
    position: relative;
  }
  
  &__img {
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0; 
    z-index: 2;
    object-fit: cover;
  }
  
  &__text-p {
    margin-bottom: 32px;
    font-size: 16px;
  }
  
  &__title {
    font-size: 38px;
    margin-bottom: 52px;
  }
  
  &__wrapper {
    font-size: 40px;
  }
}
